$primary: #ff5d5d;
$light-primary: #ffe8e8;
$dark: #2e2e2e;
$medium-dark: #777777;
$light: #d4d4d4;
$light-gray: #f9f9f9;
$light-gray-2: #f0f0f0;
$light-gray-3: #b3b3b3;

$small: 500px;
$medium: 800px;
$large: 1200px;
$extralarge: 1600px;

@mixin ease-in-out($speed) {
  transition: all $speed ease-in-out;
}

@mixin ease-out($speed) {
  transition: all $speed ease-out;
}

@mixin bezier($speed) {
  transition: all $speed cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin width {
  @media (min-width: $medium) {
    width: 80%;
  }
  @media (max-width: $medium) {
    width: 85%;
  }
  @media (max-width: $small) {
    width: 90%;
  }
}

@mixin bar($bottom, $width) {
  &::after {
    content: "";
    position: absolute;
    bottom: $bottom;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    transition: $bezier;
  }
  &:hover::after {
    width: $width;
  }
  &.active::after {
    background-color: $secondary;
  }
}

@mixin padding-top($isCard) {
  @if $isCard {
    padding-top: 10%;
    @media (max-width: $large) {
      padding-top: 17%;
    }
    @media (max-width: $medium) {
      padding-top: 15%;
    }
    @media (max-width: $small) {
      padding-top: calc(15% + 60px);
    }
  } @else {
    padding-top: 6%;
    @media (max-width: $large) {
      padding-top: 9%;
    }
    @media (max-width: $medium) {
      padding-top: 10%;
    }
    @media (max-width: $small) {
      padding-top: calc(10% + 30px);
    }
  }
}

@mixin margin-bottom($isCard) {
  @if $isCard {
    margin-bottom: 10%;
    @media (max-width: $large) {
      margin-bottom: 17%;
    }
    @media (max-width: $medium) {
      margin-bottom: 15%;
    }
    @media (max-width: $small) {
      margin-bottom: calc(10% + 50px);
    }
  } @else {
    margin-bottom: 6%;
    @media (max-width: $large) {
      margin-bottom: 8%;
    }
    @media (max-width: $medium) {
      margin-bottom: 10%;
    }
    @media (max-width: $small) {
      margin-bottom: calc(8% + 30px);
    }
  }
}
