@import "./assets/variables";

main {
  padding-top: 70px;
  section#home {
    position: relative;
    .content {
      @media (min-width: $large) {
        height: 85%;
        display: flex;
        align-items: center;
      }
      @media (max-width: $large) {
        padding-top: 5vh;
        font-size: 12px;
      }
      .info {
        @media (min-width: $large) {
          width: 50%;
        }
        @media (min-width: $extralarge) {
          width: 45%;
        }
        h1 {
          -webkit-text-stroke: 3px $primary;
          -webkit-text-fill-color: transparent;
          font-size: 5em;
          margin: 0;
          line-height: 1;
          @media (max-width: $medium) {
            -webkit-text-stroke: 2px $primary;
          }
        }
        p {
          margin: 20px 0;
          font-size: 1.5em;
        }
        a {
          display: flex;
          align-items: center;
          flex-direction: row;
          svg {
            width: 1.25em;
            padding-right: 7.5px;
            fill: #ff5d5d;
          }
          text-decoration: none;
          color: $primary;
          font-weight: bold;
          font-size: 1.5em;
          transition: $bezier;
        }
      }
      .hero {
        width: 45%;
        position: absolute;
        right: 7.5%;
        @media (max-width: $large) {
          right: 50%;
          transform: translateX(50%);
        }
        @media (max-width: $medium) {
          width: 75%;
          bottom: 27vh;
        }
        @media (max-width: $small) {
          width: 90%;
        }
        svg {
          width: 100%;
          overflow: visible;
        }
        &-image {
          position: absolute;
          width: 80%;
          top: -7%;
          left: 60%;
          transform: translateX(-50%);
        }
      }
    }
  }
  section#about {
    padding-top: 5%;
    .content {
      position: relative;
      svg {
        position: absolute;
        left: -27%;
        top: -60%;
        width: 55%;
        overflow: visible;
        @media (min-width: $large) {
          top: -70%;
        }
      }
      h1 {
        font-size: 5.5em;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        display: inline-block;
        color: $primary;
        margin-bottom: 25px;
        &::after {
          content: "01";
          position: absolute;
          font-family: "Domine";
          color: $light-primary;
          font-weight: lighter;
          font-size: 1.7em;
          top: -0.55em;
          right: -0.4em;
          z-index: -1;
        }
      }
      p {
        font-size: 1.75em;
      }
    }
  }
  section {
    min-height: 100vh;
    height: 100vh;
    @media (max-width: $large) {
      font-size: 12px;
    }
  }
}
