@import "./assets/variables";

main {
  padding-top: 70px;
  section#home {
    position: relative;
    height: 100vh;
    .content {
      @media (min-width: $large) {
        height: 85%;
        display: flex;
        align-items: center;
      }
      @media (max-width: $large) {
        padding-top: 5vh;
        font-size: 16px;
      }
      .info {
        @media (min-width: $large) {
          width: 50%;
        }
        @media (min-width: $extralarge) {
          width: 45%;
        }
        h1 {
          -webkit-text-stroke: 3px $primary;
          -webkit-text-fill-color: transparent;
          font-size: 5em;
          margin: 0;
          line-height: 1;
          @media (max-width: $medium) {
            -webkit-text-stroke: 2px $primary;
            font-size: 4em;
          }
        }
        p {
          margin: 20px 0;
          font-size: 1.5em;
          @media (max-width: $medium) {
            font-size: 1.25em;
          }
        }
        a {
          display: flex;
          align-items: center;
          flex-direction: row;
          svg {
            width: 1.5em;
            padding-right: 7.5px;
            fill: #ff5d5d;
            overflow: visible;
          }
          text-decoration: none;
          color: $primary;
          font-weight: bold;
          font-size: 1.5em;
          @include bezier(200ms);
        }
      }
      .hero {
        width: 45%;
        position: absolute;
        right: 7.5%;
        @media (max-width: $large) {
          right: 50%;
          width: 65%;
          transform: translateX(50%);
        }
        @media (max-width: $medium) {
          width: 75%;
          bottom: 27vh;
        }
        @media (max-width: $small) {
          width: 90%;
        }
        svg {
          width: 100%;
          overflow: visible;
        }
        &-image {
          position: absolute;
          width: 80%;
          top: -7%;
          left: 60%;
          transform: translateX(-50%);
        }
      }
    }
  }
  section#about {
    padding-top: 10%;
    @media (max-width: $medium) {
      padding-top: 0;
    }
    .content {
      position: relative;
      svg {
        position: absolute;
        left: -27%;
        top: -60%;
        width: 55%;
        overflow: visible;
        @media (min-width: $large) {
          top: -70%;
        }
      }
      h1 {
        font-size: 5.5em;
        position: relative;
        left: 50%;
        @media (max-width: $medium) {
          left: 42%;
        }
        transform: translateX(-50%);
        margin: 0;
        display: inline-block;
        color: $primary;
        margin-bottom: 25px;
        &::after {
          content: "01";
          position: absolute;
          font-family: "Domine";
          color: $light-primary;
          font-weight: lighter;
          font-size: 1.7em;
          top: -0.55em;
          right: -0.4em;
          z-index: -1;
        }
      }
      p {
        font-size: 1.75em;
      }
    }
  }
  section#work {
    padding-top: 10%;
    @media (max-width: $medium) {
      padding-top: 15%;
    }
    .content {
      position: relative;
      svg.shapes {
        position: absolute;
        left: -27%;
        top: -60%;
        width: 55%;
        overflow: visible;
        @media (min-width: $large) {
          top: -70%;
        }
      }
      h1 {
        font-size: 5.5em;
        position: relative;
        left: 50%;
        @media (max-width: $medium) {
          left: 55%;
        }
        transform: translateX(-50%);
        margin: 0;
        display: inline-block;
        color: $primary;
        margin-bottom: 25px;
        &::after {
          content: "02";
          position: absolute;
          font-family: "Domine";
          color: $light-primary;
          font-weight: lighter;
          font-size: 1.7em;
          top: -0.6em;
          left: -0.5em;
          z-index: -1;
        }
      }
      .work-wrapper {
        margin: 0;
        padding: 100px 0 0 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 64px;
        @media (min-width: $large) {
          grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
          grid-gap: 100px 64px;
        }
        @media (max-width: $medium) {
          padding: 60px 0 0 0;
        }
        li {
          padding: 20px 20px 0 20px;
          background-color: white;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            .image {
              img {
                transform: scale(1.05);
              }
            }
            .tag-list {
              li {
                transform: translateY(5px);
              }
            }
          }
          .image {
            width: 95%;
            position: relative;
            top: -2.5em;
            @media (max-width: $large) {
              top: -5em;
            }
            left: 50%;
            transform: translateX(-50%);
            img {
              width: 100%;
              border-radius: 3px;
              @include ease-in-out(200ms);
              transform-origin: bottom;
            }
            .tag-list {
              list-style: none;
              padding: 0;
              margin: 0;
              position: absolute;
              bottom: -11px;
              li {
                padding: 5px 15px;
                background-color: $primary;
                display: inline-block;
                margin-left: 17px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
                @include ease-in-out(200ms);
                span {
                  color: white;
                  font-weight: bold;
                  font-size: 1.5em;
                  @media (min-width: $large) {
                    font-size: 1em;
                  }
                }
              }
            }
          }
          .text {
            width: 95%;
            margin: auto;
            position: relative;
            top: -30px;
            @media (max-width: $large) {
              font-size: 20px;
            }
            h5 {
              margin: 0 0 15px 0;
              font-size: 1.75em;
              color: $dark;
            }
            p {
              margin: 0;
              color: $medium-dark;
            }
          }
        }
      }
    }
  }
  section#articles {
    padding-top: 10%;
    @media (max-width: $medium) {
      padding-top: 25%;
    }
    .content {
      position: relative;
      svg.shapes {
        position: absolute;
        left: -27%;
        top: -60%;
        width: 55%;
        overflow: visible;
        @media (min-width: $large) {
          top: -70%;
        }
      }
      h1 {
        font-size: 5.5em;
        position: relative;
        left: 50%;
        @media (max-width: $medium) {
          left: 55%;
        }
        transform: translateX(-50%);
        margin: 0;
        display: inline-block;
        color: $primary;
        margin-bottom: 25px;
        &::after {
          content: "03";
          position: absolute;
          font-family: "Domine";
          color: $light-primary;
          font-weight: lighter;
          font-size: 1.7em;
          top: -0.6em;
          left: -0.5em;
          z-index: -1;
        }
      }
      .article-wrapper {
        margin: 0;
        padding: 100px 0 0 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 64px;
        @media (min-width: $large) {
          grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
          grid-gap: 100px 64px;
        }
        @media (max-width: $medium) {
          padding: 60px 0 0 0;
        }
        a {
          text-decoration: none;
          li {
            padding: 20px 20px 0 20px;
            background-color: white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
            border-radius: 3px;
            cursor: pointer;
            &:hover {
              .image {
                img {
                  transform: scale(1.05);
                }
              }
              .text {
                .link {
                  svg {
                    polyline {
                      transform: translate(2px, -2px);
                    }
                  }
                }
              }
              .tag-list {
                li {
                  transform: translateY(5px);
                }
              }
            }
            .image {
              width: 95%;
              position: relative;
              top: -2.5em;
              @media (max-width: $large) {
                top: -5em;
              }
              left: 50%;
              transform: translateX(-50%);
              img {
                width: 100%;
                border-radius: 3px;
                @include ease-in-out(200ms);
                transform-origin: bottom;
              }
              .tag-list {
                list-style: none;
                padding: 0;
                margin: 0;
                position: absolute;
                bottom: -11px;
                li {
                  padding: 5px 15px;
                  background-color: $primary;
                  color: white;
                  font-weight: bold;
                  font-size: 1.5em;
                  display: inline-block;
                  margin-left: 17px;
                  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
                  @include ease-in-out(200ms);
                  @media (min-width: $large) {
                    font-size: 1em;
                  }
                }
              }
            }
            .text {
              width: 95%;
              margin: auto;
              position: relative;
              top: -30px;
              @media (max-width: $large) {
                font-size: 20px;
              }
              h5 {
                margin: 0 0 15px 0;
                font-size: 1.75em;
                color: $dark;
              }
              p {
                margin: 0;
                font-size: 1.1em;
                color: $medium-dark;
              }
              .link {
                display: flex;
                justify-content: flex-end;
                p {
                  margin-top: 15px;
                  font-size: 1.1em;
                  color: $primary;
                  text-align: right;
                  font-weight: bold;
                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  position: relative;
                }
                svg {
                  margin-left: 5px;
                  width: 30px;
                  fill: $primary;
                  overflow: visible;
                  polyline {
                    @include ease-in-out(150ms);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  section {
    @media (max-width: $large) {
      font-size: 12px;
    }
  }
}
