@import "./assets/variables";

main {
  padding-top: 70px;
  section#home {
    position: relative;
    .content {
      @media (min-width: $large) {
        height: 85%;
        display: flex;
        align-items: center;
      }
      @media (max-width: $large) {
        padding-top: 5vh;
        font-size: 12px;
      }
      .info {
        @media (min-width: $large) {
          width: 50%;
        }
        h1 {
          -webkit-text-stroke: 3px $primary;
          -webkit-text-fill-color: transparent;
          font-size: 5em;
          margin: 0;
          line-height: 1;
          @media (max-width: $medium) {
            -webkit-text-stroke: 2px $primary;
          }
        }
        p {
          margin: 20px 0;
          font-size: 1.4em;
        }
        a {
          text-decoration: none;
          color: $primary;
          font-weight: bold;
          font-size: 1.4em;
        }
      }
      .hero {
        width: 45%;
        position: absolute;
        right: 5%;
        @media (max-width: $large) {
          right: 50%;
          transform: translateX(50%);
        }
        @media (max-width: $medium) {
          width: 75%;
          bottom: 27vh;
        }
        @media (max-width: $small) {
          width: 90%;
        }
        svg {
          width: 100%;
        }
        &-image {
          position: absolute;
          width: 80%;
          top: -7%;
          left: 60%;
          transform: translateX(-50%);
        }
      }
    }
  }
  section {
    min-height: 100vh;
    height: 100vh;
  }
}
