@import "./assets/variables";

body {
  margin: 0;
  font-family: "Neutra";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  @media (min-width: $medium) {
    font-size: 22px;
  }
  @media (max-width: $medium) {
    font-size: 18px;
  }
  @media (max-width: $small) {
    font-size: 16px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Neutra;
  font-weight: bold;
  src: url(./assets/fonts/NeutraTextBold.otf);
}

@font-face {
  font-family: Neutra;
  font-weight: normal;
  src: url(./assets/fonts/NeutraTextBook.otf);
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
